# Miscellany.
*/catch
*/flights

# Virtual env.
.venv/*

# macOS.
.DS_Store
*/.DS_Store

# Python.
examples/__pycache__/*
launch/__pycache__/*
birdseye/__pycache__/*
birdseye/venv/*
*.zip
venv/*
models/*
*.png
scripts/__pycache__/*
holding/*
examples/*
.dependencies.txt
